<div class="button-container">
  <p-button label="Crear tarea" severity="info" (click)="createForm()" />
  <p-splitbutton label="Usuarios" severity="help" [model]="menuItems" />
</div>
<div class="board-container">
  <!-- Pending Stage -->
  <div id="Pending" class="stage" [cdkDropListConnectedTo]="['InProgress', 'Testing', 'Completed', 'Cancelled']"
   [cdkDropListData]="pendingTasks" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <h3>Backlog</h3>
    <div *ngFor="let task of pendingTasks" class="task" cdkDrag [cdkDragData]="task">
      <strong>{{ task.nameTask }}</strong>
      <p>{{ task.description }}</p>
      <small>{{ task.observations }}</small>
      <p>Supervisado por {{ task.supervisor.nameUser }}</p>
      <label>{{ task.assignations.length ? 'Asignado a' : 'Sin asignaciones' }}  </label>
      <div *ngFor="let assignation of task.assignations" class="task" cdkDrag [cdkDragData]="task">
        <small>{{ assignation.nameUser }}</small>
      </div>
      <br><br>
      <i class="pi pi-pencil icon-padding" style="font-size: 1rem" (click)="selectTaskToEdit(task)"></i>
      <i class="pi pi-plus icon-padding" style="font-size: 1rem" (click)="selectTaskToAssign(task)"></i>
      <i class="pi pi-minus icon-padding" style="font-size: 1rem" (click)="selectTaskToUnassign(task)"></i>
    </div>
  </div>

  <!-- In Progress Stage -->
  <div id="InProgress" class="stage" [cdkDropListConnectedTo]="['Pending', 'Testing', 'Completed', 'Cancelled']"
  [cdkDropListData]="inProgressTasks" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <h3>En desarrollo</h3>
    <div *ngFor="let task of inProgressTasks" class="task" cdkDrag [cdkDragData]="task">
      <strong>{{ task.nameTask }}</strong>
      <p>{{ task.description }}</p>
      <small>{{ task.observations }}</small>
      <p>Supervisado por {{ task.supervisor.nameUser }}</p>
      <label>{{ task.assignations.length ? 'Asignado a' : 'Sin asignaciones' }}  </label>
      <div *ngFor="let assignation of task.assignations" class="task" cdkDrag [cdkDragData]="task">
        <small>{{ assignation.nameUser }}</small>
      </div>
      <br><br>
      <i class="pi pi-pencil icon-padding" style="font-size: 1rem" (click)="selectTaskToEdit(task)"></i>
      <i class="pi pi-plus icon-padding" style="font-size: 1rem" (click)="selectTaskToAssign(task)"></i>
    </div>
  </div>

   <!-- Testing Stage -->
   <div id="Testing" class="stage" [cdkDropListConnectedTo]="['Pending', 'InProgress', 'Completed', 'Cancelled']"
   [cdkDropListData]="testingTasks" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <h3>En fase de pruebas</h3>
    <div *ngFor="let task of testingTasks" class="task" cdkDrag [cdkDragData]="task">
      <strong>{{ task.nameTask }}</strong>
      <p>{{ task.description }}</p>
      <small>{{ task.observations }}</small>
      <p>Supervisado por {{ task.supervisor.nameUser }}</p>
      <label>{{ task.assignations.length ? 'Asignado a' : 'Sin asignaciones' }}  </label>
      <div *ngFor="let assignation of task.assignations" class="task" cdkDrag [cdkDragData]="task">
        <small>{{ assignation.nameUser }}</small>
      </div>
      <br><br>
      <i class="pi pi-pencil icon-padding" style="font-size: 1rem" (click)="selectTaskToEdit(task)"></i>
      <i class="pi pi-plus icon-padding" style="font-size: 1rem" (click)="selectTaskToAssign(task)"></i>
    </div>
  </div>


  <!-- Completed Stage -->
  <div id="Completed" class="stage" [cdkDropListConnectedTo]="['Pending', 'InProgress', 'Testing', 'Cancelled']"
  [cdkDropListData]="completedTasks" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <h3>Realizado</h3>
    <div *ngFor="let task of completedTasks" class="task" cdkDrag [cdkDragData]="task">
      <strong>{{ task.nameTask }}</strong>
      <p>{{ task.description }}</p>
      <small>{{ task.observations }}</small>
      <p>Supervisado por {{ task.supervisor.nameUser }}</p>
      <label>{{ task.assignations.length ? 'Asignado a' : 'Sin asignaciones' }}  </label>
      <div *ngFor="let assignation of task.assignations" class="task" cdkDrag [cdkDragData]="task">
        <small>{{ assignation.nameUser }}</small>
      </div>
    </div>
  </div>

  <!-- Cancelled Stage -->
  <div id="Cancelled" class="stage" [cdkDropListConnectedTo]="['Pending', 'InProgress', 'Testing', 'Completed']"
   [cdkDropListData]="cancelledTasks" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <h3>Cancelado</h3>
    <div *ngFor="let task of cancelledTasks" class="task" cdkDrag [cdkDragData]="task">
      <strong>{{ task.nameTask }}</strong>
      <p>{{ task.description }}</p>
      <small>{{ task.observations }}</small>
      <p>Supervisado por {{ task.supervisor.nameUser }}</p>
      <label>{{ task.assignations.length ? 'Asignado a' : 'Sin asignaciones' }}  </label>
      <div *ngFor="let assignation of task.assignations" class="task" cdkDrag [cdkDragData]="task">
        <small>{{ assignation.nameUser }}</small>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<p-dialog [(visible)]="dialog">
    
  <form class="custom-form" method="post"  [formGroup]="formGroup">	
      <div class="input-group form-group">	
          <input type="text"  name="nameTask" class="form-control" formControlName="nameTask" placeholder="Título de la tarea"/>
      </div>				
      <div class="input-group form-group">
          <input type="text"  name="description" class="form-control"  formControlName="description"	placeholder="Descripción"/>	
      </div>
      <div class="input-group form-group">
          <input type="text"  name="observations" class="form-control" formControlName="observations" placeholder="Observaciones" />  
      </div>	
      <label for="exampleFormSelect">Supervisor:</label>
            <select class="form-control" formControlName="supervisorCode" name="selector"> 
              <optgroup label="Usuario">
                <option [ngValue]="user.userCode" *ngFor="let user of allUsers">
                    {{user.nameUser}}
                </option>
              </optgroup>
            </select>	
      <div class="form-group">
          <input type="submit" value="Editar"  (click)="updateTask()"  class="btn float-right edit_btn" id="edicion">
      </div>
      
  </form>
</p-dialog>

<p-dialog [(visible)]="dialogAssign">
    
  <form class="custom-form" method="post"  [formGroup]="formGroupAssignation">	      
            <select class="form-control" formControlName="userCode" name="selector"> 
              <optgroup label="Asignar a">
                <option [ngValue]="user.userCode" *ngFor="let user of usersToAssign">
                    {{user.nameUser}}
                </option>
              </optgroup>
            </select>	
      <div class="form-group">
          <input type="submit" value="Asignar"  (click)="assignTask()"  class="btn float-right edit_btn" id="edicion">
      </div>
      
  </form>
</p-dialog>

<p-dialog [(visible)]="dialogUnassign">
    
  <form class="custom-form" method="post"  [formGroup]="formGroupAssignation">	      
            <select class="form-control" formControlName="userCode" name="selector"> 
              <optgroup label="Desasignar a">
                <option [ngValue]="user.userCode" *ngFor="let user of usersToUnassign">
                    {{user.nameUser}}
                </option>
              </optgroup>
            </select>	
      <div class="form-group">
          <input type="submit" value="Desasignar"  (click)="unassignTask()"  class="btn float-right edit_btn" id="edicion">
      </div>
      
  </form>
</p-dialog>

<p-dialog [(visible)]="dialogCreate">
    
  <form class="custom-form" method="post"  [formGroup]="formGroup">	
      <div class="input-group form-group">	
          <input type="text"  name="nameTask" class="form-control" formControlName="nameTask" placeholder="Título de la tarea"/>
      </div>				
      <div class="input-group form-group">
          <input type="text"  name="description" class="form-control"  formControlName="description"	placeholder="Descripción"/>	
      </div>
      <div class="input-group form-group">
          <input type="text"  name="observations" class="form-control" formControlName="observations" placeholder="Observaciones" />  
      </div>	
      <label for="exampleFormSelect">Supervisor:</label>
            <select class="form-control" formControlName="supervisorCode" name="selector"> 
              <optgroup label="Usuario">
                <option [ngValue]="user.userCode" *ngFor="let user of allUsers">
                    {{user.nameUser}}
                </option>
              </optgroup>
            </select>	
      <div class="form-group">
          <input type="submit" value="Crear"  (click)="createTask()"  class="btn float-right edit_btn" id="edicion">
      </div>
      
  </form>
</p-dialog>

<p-dialog [(visible)]="dialogUser">
  <div class="card-body">
    <h2 class="card-title text-center font-weight-bold">
        {{userShowed?.nameUser}}
    </h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: {{userShowed?.nameUser}}</li>
        <li class="list-group-item">Apellidos: {{userShowed?.surnameUser}}</li>
        <li class="list-group-item">DAS:  {{userShowed?.das}}</li>
        @if (userShowed?.isAdmin){
          <li class="list-group-item">Es jefe de proyecto</li>
        }
    </ul>    
    <h3>Tareas asignadas:</h3>
    @for (task of (userShowed?.tasks ?? []); track task.nameTask) {
      <li>{{ task.nameTask}}</li>
      } @empty {
      <li>No tiene tareas asignadas</li>
      }
  </div>
</p-dialog>
<p-toast key="notToPast"></p-toast>
<p-toast key="notMove"></p-toast>
<p-toast key="errorServer"></p-toast>
<p-toast key="okServer"></p-toast>


